// ----- Colors -----
$gray-light: #faf8f7;
$gray: #f6f4f5;
$gray-dark: #dfdddf;
$gray-darkest: #55555b;
$blue: #00a2e1;
$blue-dark: #0079bc;
$orange: #ff6c01;
$black: #000;
$white: #fff;

// ----- Colors -----
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
